::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  transition: all 0.15s ease-in-out;
  background: #888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(80, 80, 80)
}